@import "../../variables.scss";

.btn {
  border-radius: 0.5rem;
  border: 1px solid;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  user-select: none;

  &.primary {
    background-color: $primary-color;
    border-color: $primary-color;
  }

  &.secondary {
    background-color: white;
    border-color: white;
    color: $primary-color;
  }

  &.choice-1 {
    background-color: $choice-1;
    border-color: $choice-1;
  }

  &.choice-2 {
    background-color: $choice-2;
    border-color: $choice-2;
  }

  &.choice-3 {
    background-color: $choice-3;
    border-color: $choice-3;
  }

  &.choice-4 {
    background-color: $choice-4;
    border-color: $choice-4;
  }

  &.small {
    width: 120px;
  }

  &.medium {
    width: 200px;
  }

  &.large {
    width: 300px;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.05);
  }
}
