@import "./variables.scss";

.container {
  position: relative;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
  overflow: auto;
  flex-direction: column;

  &__topScore {
    padding: '20px';
    align-self: 'flex-end';
  }

  @media (max-width: 768px) {
    height: 100%;
  }
}
